################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FoxDrop/FileContentIndex/b53525a4-9b22-4dfa-87c0-e586dec0e0be.vsidx
